# ======================
# Node.js / Packages
# ======================
**/node_modules

# ======================
# Build outputs
# ======================
**/dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ======================
# Logs
# ======================
nestjs-debug.log
*.log

# ======================
# Env files
# ======================
.env
.env.*

# ======================
# IDEs / OS
# ======================
.vscode
.idea
.DS_Store
*.swp
*.swo

# ======================
# Temporary / Misc
# ======================
**/tmp
**/temp
**/*.cache
**/*.eslintcache

# ======================
# Testing
# ======================
**/coverage